@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #add8e6;
  min-height: 100vh;
}

@layer components {
  .stroke {
    -webkit-text-stroke: 2px black;
  }
  .retro-border {
    border: 3px solid black;
    box-shadow: rgb(0, 0, 0) -3px 3px 0px 0px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
